/* responsividade.css */

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .game-container {
    max-width: 90%;
    padding: 10px;
    margin-top: 20px; /* Reduz o espaço acima do contêiner do jogo */
    margin-bottom: 20px; /* Igual ao espaço de baixo */
  }

  h1 {
    font-size: 2em;
  }

  .info-panel {
    font-size: 1em;
    padding: 6px 12px;
  }

  .game-board {
    grid-template-columns: repeat(4, 70px);
    grid-gap: 10px;
  }

  .card {
    width: 70px;
    height: 70px;
  }

  .card-front,
  .card-back {
    font-size: 1.5em;
  }

  .buttons-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }

  #restart-button,
  #modal-restart-button,
  #category-button {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }

  .modal-content {
    width: 90%;
    padding: 20px;
  }

  .close-button {
    font-size: 1.2em;
    top: 5px;
    right: 5px;
  }

  .category-options {
    flex-wrap: wrap;
    gap: 5px;
  }

  .category-option {
    width: 45%;
    margin: 5px auto;
    font-size: 14px;
    padding: 8px;
  }
}

/* Ajustes para telas muito pequenas (smartphones em modo retrato) */
@media (max-width: 480px) {
  .game-container {
    max-width: 85%;
    padding: 5px;
    margin-top: 10px; /* Reduz o espaço acima para igualar com o de baixo */
    margin-bottom: 10px; /* Igual ao espaço de baixo */
  }

  h1 {
    font-size: 1.8em;
  }

  .info-panel {
    font-size: 0.9em;
    padding: 4px 8px;
    width: 50%;
    margin: 0 auto;
  }

  .game-board {
    grid-template-columns: repeat(4, 60px);
    grid-gap: 8px;
    margin-top: 20px;
  }

  .card {
    width: 60px;
    height: 60px;
  }

  .card-front,
  .card-back {
    font-size: 1.2em;
  }

  .buttons-container {
    gap: 8px;
  }

  #restart-button,
  #modal-restart-button,
  #category-button {
    width: 60%;
    padding: 8px;
    font-size: 14px;
  }

  .modal-content {
    width: 80%;
    padding: 15px;
  }

  .close-button {
    font-size: 1em;
    top: 5px;
    right: 5px;
  }

  .category-options {
    flex-wrap: wrap;
    gap: 5px;
  }

  .category-option {
    width: 45%;
    margin: 5px auto;
    font-size: 12px;
    padding: 6px;
  }
}
